:root {
  --white-text: #e7e7eb;
  --grayish-text: #a09fb1;
  --gray-text: #88869d;
  --btn: #6e707a;
  --circle-btn: rgba(110, 112, 122, 0.7);
  --bk-blue: #1e213a;
  --bk-dark-blue: #100e1d;

  /*Add the font-weight*/
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

.material-icons.white {
  color: var(--white-text);
}

.wrapper{
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

.nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.btn-browser {
  padding: 1em;
  color: var(--white-text);
  background-color: var(--btn);
  border: var(--circle-btn);
}

.btn-browser:hover {
  opacity: 0.75;
  cursor: pointer;
}

.btn-location {
  background-color: var(--circle-btn);
  border: var(--circle-btn);
  border-radius: 20px;
  width: 3em;
}

.btn-location:hover {
  opacity: 0.75;
  cursor: pointer;
}

.today__weather {
  background-color: var(--bk-blue);
}

.weather__info {
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
}

.bk__cloud--img {
  opacity: 0.03;
  position: relative;
  right: 26%;
  width: 145%;
  max-width: 900px;
}

.actual__weather--img {
  width: 10em;
  max-width: 70%;
  position: relative;
  top: 15rem;
  left: 4rem;
  transform: translate(-50%, -260%);
}

.weather__data {
  transform: translateY(-200px);
  text-align: center;
  color: var(--white-text);
}

.weather__number {
  font-size: 7rem;
  font-weight: 500;
  font-style: normal;
}

.degrees {
  font-size: 3rem;
  font-weight: 300;
  color: var(--grayish-text);
}

.actual__forecast {
  margin: 0.5em 0 1.5em 0;
  font-size: 2.25rem;
  font-weight: 600;
  font-style: normal;
  color: var(--grayish-text);
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date > * {
  margin-left: 1em;
}

.date,
.location {
  color: var(--gray-text);
  font-weight: 500;
  font-size: 1.125rem;
}

.location {
  display: flex;
  margin-top: 1.5em;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.d-flex__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.forecast__weather{
  background-color: var(--bk-dark-blue);
}

.degrees__forecast{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.card{
  background-color: var(--bk-blue);
  margin: 2em;
  padding: 1.8em;
  color: var(--white-text);
  width: 12em;
}

.card img{
  max-width: 150px;
  margin-right: 1em;
  text-align: center;
  margin-bottom: 0.8em;
}

.card__title{
  /* margin-top: 0.5em; */
  font-size: 2rem;
  font-weight: 600;
  
}

.card span p {
  font-size: 2rem;
  font-weight: 500;
}

.card .degrees{
  font-size: 2rem;
  font-weight: 500;
  color: var(--grayish-text);
}

.max__degree{
  color: var(--white-text);
}

.min__degree{
  color: var(--grayish-text);
}

.card__highlight{
  background-color: var(--bk-blue);
  margin: 2em;
  padding: 1.8em;
  color: var(--white-text);
  width: 75%;
}

.sub__text {
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
}

.highlight__info{
  font-size: 1.3rem;
  font-weight: 500;
}

.highlight__bottom{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.highlight__bottom span{
  margin-right: .4em;
  font-size: 1.4375rem;
}

.icon__location {
  background-color: var(--circle-btn);
  border: var(--circle-btn);
  border-radius: 50%;
  padding: .1em;
  padding-top: .2em;
  width: 1.5em;
  height: 1.4375rem;
}

.humility__info{
  margin: 0 auto;
  width: 80%;
}

.humility__number{
  display: flex;
  justify-content: space-between;
  margin-bottom: .6em;
}

.foreground{
  display: block;
  height: 0.8125em;
  border-radius: 80px;
  background-color: var(--white-text);
  margin-bottom: .6em;
}

.foreground::after{
  content: "";
  display: block;
  background-color: #FFEC65;
  border-radius: 80px;
  width: 60%;
  height: 100%;
  position: relative;
  top: -19px;
}

.humility__percentage{
  text-align: right;
}

.last__card{
  margin-bottom: 10em;
}

footer{
  background-color: var(--bk-blue);
    
}

.footer{
  background-color: var(--bk-blue);
  text-align: center;
  color: var(--white-text);
  margin: 2em;
}

.footer a{
  padding: 2em 0;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: 0.5s;
}

.footer:hover a{
  text-decoration: none;
  color: rgb(187, 185, 185);
  letter-spacing: 0.2em;
  font-weight: 700;
}

@media (max-width: 420px){
  .sub__text{
    font-size: 2rem;
  }
  
  .weather__number p{
    font-size: 4rem;
  }
}

@media (min-width: 700px){
  .d-flex__card{
    flex-direction: unset;
  }
}

@media (min-width: 600px){

  .menu__degrees{
    text-align: end;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 3.3em;
    margin-left: 3.3em;
  }

  .fix__button{
    margin-right: 1em;
    height: 3em;
  }

  .today__weather{
    width: 30em;
  }

  .card{
    margin: 1em;
  }

  .card__highlight{
    margin-top: 1em;
    margin-bottom: 0;
    width: 100%;
  }

  .today__weather{
    height: 100%;
  }

  .wrapper{
    flex-direction: unset;
  }

  .wrapper__right__bar{
    width: 100%;
  }

  .d-flex__card{
    max-width: 100%;
  }

  .fix__cards{
    padding: 0;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    margin: 0 auto;
  }

  .grid__cards{
    display: unset;
  }

  .d-flex__highlight{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .last__card{
    margin-top: 1em;
    margin-bottom: 0;
  }

  .footer{
    background: var(--bk-dark-blue);
    margin: 0;
    padding: 2em 0;
  }
}

@media (max-width: 1278px){
  .d-flex__card{
    flex-direction: column;
  }
}

@media (min-width: 1330px){
  .d-flex__highlight{
    flex-direction: inherit;
  }
}